<div class="container">
  <div class="row main">
    <div class="main_contents">
      <%= image_tag "cat_icon.jpg", class: "main_icon", size: "200x200" %>
      <h1>Hello, This page is Tsumi's Portfolio!(｀ω´ )</h1>
    </div>
    <div class="contents_menu">
      <h1>About me</h1>
    </div>




    <!-- <a href=""><%= image_tag "love.png", size: "150x150" %></a>
    <a href="#"><%= image_tag "products.png", size: "150x150" %></a>
    <a href="#"><%= image_tag "activities.png", size: "150x150" %></a> -->


  </div>
</div>
