//  font ========================================
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding-top: 50px;
}

//  public ========================================

h1 {
  font-size: 3em;
}

.container, .row {
  width: 100%;
  margin: 0;
  padding:0;
}

//  header ======================================
.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar-default {
  border: none;
  box-shadow: none;
  background-image: none;
  background-color: #36465d; //紺色
  opacity: 0.9;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #f2f7fd;
}

//  main ==========================================
.main {
  width: 100%;
  height: auto;
  background-size: cover;
  background-image:  url("top.jpg");
  background-attachment: fixed;
  p {
    text-align: center;
  }
  .main_icon {
    border-radius: 100%;
  }

  .main_contents {
    float: left;
    margin: 120px 0;
    h1{
      margin-bottom: 40px;
      margin-left: 100px;
      line-height: 2.0;
      color: #36465d;
    }

    .contents_icon_1, .contents_icon_2 {
      margin-left: 100px;
      margin-bottom: 30px;
      img {
        margin: 20px;
        transition: transform 0.3s linear;
      }

      img:hover {
        opacity: 0.9;
        transition: transform 0.3s linear;
        transform: scale(0.9);
      }
    }

  }


}
//  about_me ====================================
.about_me {
  width: 100%;
  height: 600px;
  background-color: #FFF;
  opacity: 0.9;

  h1 {
    color: #36465d;
    margin: 200px 50px 50px 50px;
    padding: 50px;
  }

  p {
    font-size: 17px;
    line-height: 2.0;
  }
}


.contents_menu {
  margin: 200px 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;

  li {
    display: table-cell;
    vertical-align: middle;

    a {
      text-align: justify;
    }
  }
}

//  love.html, product.html, activity.html ================

.love_main, .product_main, .activity_main {
  background-color: #ffeeb0;
  h1 {
    text-align: center;
    color: #0c224a;
  }
  p {
    text-align: center;
  }
  .main_icon {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main_contents {
    margin: 200px;
    margin-bottom: 150px;
  }
}
.contents_box {
  margin: 0 auto;
}
.contents_list {
  list-style: none;
  li {
    display: inline-block;
    float: left;
    text-align: center;
    margin: 20px;

    a {
      display: block;
    }
  }
}
