
// application.html
h1 {
  font-size: 3em;
}

.container, .row {
  width: 100%;
  margin: 0;
  padding:0;
}

.navbar-header {
  position: absolute;
  z-index: 999;
  position: fixed !important; //IE6以下に指定する
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #36465d;
  color: #fff;
  opacity:0.9;

  .head_nav {
    :hover {
      background-color: #BDBDBD;
    }

    a {
      color: #FFF;
      text-decoration: none;

      li {
        display: inline-block;
        list-style: none;
        padding: 20px 30px;
      }

    }
  }
}
.main {
  width: 100%;
  height: auto;
  background-size: cover;
  background-image:  url("top.jpg");
  background-attachment: fixed;
  display: block;
  position: relative;

  h1 {
    text-align: center;
    color: #FFF;
  }
  p {
    text-align: center;
  }
  .main_icon {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main_contents {
    margin: 200px;
  }
}

.about_me {
  width: 100%;
  height: 600px;
  background-color: #FFF;
  opacity: 0.9;
  h1 {
    color: #36465d;
    margin: 50px;
    padding: 50px;
  }
}


.contents_menu {
  margin: 200px 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;

  li {
    display: table-cell;
    vertical-align: middle;

    a {
      text-align: justify;
    }
  }
}

.contents_main_icon {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

//love, product, activity

.love_main, .product_main, .activity_main {
  background-color: #ffeeb0;
  h1 {
    text-align: center;
    color: #0c224a;
  }
  p {
    text-align: center;
  }
  .main_icon {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main_contents {
    margin: 200px;
    margin-bottom: 150px;
  }
}
.contents_box {
  margin: 0 auto;
}
.contents_list {
  list-style: none;
  li {
    display: inline-block;
    float: left;
    text-align: center;
    margin: 20px;

    a {
      display: block;
    }
  }
}
