.container, .row {
  width: 100%;
  margin: 0;
  padding:0;
}

.navbar-header {
  position: absolute;
  z-index: 2;
  position: fixed !important; //IE6以下に指定する
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #36465d;
  color: #fff;
  opacity:0.9;

  .head_nav {
    :hover {
      background-color: #BDBDBD;
    }
    li {
      list-style: none;
      padding: 20px 30px;

      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}
.main {
  width: 100%;
  height: 1500px;
  background-size: cover;
  background-image:  url("colour__.png");
  background-attachment: fixed;
  display: block;
  margin: 0 auto;

  h1 {
    text-align: center;
    color: #FFF;
  }
  .main_icon {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .main_contents {
    margin: 200px;
  }
}

.contents_menu {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 300px;
  background-color: #FFF;
  opacity: 0.9;
  // display: box;
  // box-pack: justify;
  h1 {
    color: #36465d;
  }
}
